@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Open Sans";

  src: local("Open Sans Light"), local("OpenSans-Light"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";

  src: local("Open Sans Regular"), local("OpenSans-Regular"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: Gilroy;

  src: local("Gilroy Light"), local("Gilroy-Light"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: Gilroy;

  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

/* Basic styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Tahoma", sans-serif;
  color: #464646;
  letter-spacing: 0.15px;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  position: relative;
  z-index: 1;

  display: inline-block;
  width: 260px;
  padding: 8px 12px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: -1;

  height: 8px;
  margin-top: -4px;

  background-color: #f0c52e;

  transition: 0.3s ease;
}

.btn:hover::before,
.btn:focus::before {
  top: 4px;

  height: 100%;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Header styles */

.inner-page .main-header {
  margin-bottom: 37px;
}

.main-nav {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-right: 60px;
  padding-bottom: 47px;
  padding-left: 60px;

  background-color: #f7e296;
}

.main-nav ul {
  list-style: none;
}

.main-nav a {
  display: inline-block;

  color: #000000;
}

.main-header-logo {
  width: 163px;
  height: 35px;
  margin-top: -18px;
  margin-bottom: 18px;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus {
  opacity: 0.6;
}

.main-header-logo[href]:active {
  opacity: 0.3;
}

.header-row {
  display: flex;
  height: 49px;
  margin-bottom: 25px;
}

.search-form {
  display: flex;
  width: 441px;
  margin-right: 99px;
}

.input-search {
  flex-grow: 1;
  padding-left: 36px;

  background-color: transparent;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 3px center;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
}

.input-search::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input-search::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input-search:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input-search::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input-search::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input-search:hover::-webkit-input-placeholder,
.input-search:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.input-search:hover::-moz-placeholder,
.input-search:focus::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.input-search:hover:-ms-input-placeholder,
.input-search:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.input-search:hover::-ms-input-placeholder,
.input-search:focus::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.input-search:hover::placeholder,
.input-search:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.input-search:focus {
  border-bottom: 2px solid #000000;
}

.input-search:not(:placeholder-shown) {
  border-bottom: 2px solid #000000;
}

.btn-search {
  width: 85px;

  color: #000000;

  background-color: transparent;
  border: 2px solid #000000;
  visibility: hidden;
  cursor: pointer;
  opacity: 0;
}

.input-search:focus + .btn-search {
  visibility: visible;
  opacity: 1;
}

.input-search:not(:placeholder-shown) + .btn-search {
  visibility: visible;
  opacity: 1;
}

.btn-search:hover,
.btn-search:focus {
  color: #ffffff;

  background-color: #000000;
  visibility: visible;
  opacity: 1;
}

.btn-search:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 8px;
  padding: 0;
}

.user-link {
  padding-left: 26px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

a.logout-link {
  margin-left: 20px;

  color: rgba(0, 0, 0, 0.3);
}

a.logout-link:hover,
a.logout-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.shop-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 8px;
  margin-left: auto;
  padding: 0;
}

.shop-link {
  background-repeat: no-repeat;
  background-position: left center;
}

.compare-link {
  margin-right: 41px;
  padding-left: 20px;

  background-image: url("../img/icon-compare.svg");
}

.cart-link {
  padding-left: 22px;

  background-image: url("../img/icon-cart.svg");
}

.user-nav a:hover,
.shop-nav a:hover,
.user-nav a:focus,
.shop-nav a:focus {
  opacity: 0.6;
}

.user-nav a:active,
.shop-nav a:active {
  opacity: 0.3;
}

.site-nav {
  display: flex;
  margin: 0;
  padding: 0;
}

.site-nav a:hover,
.site-nav a:focus {
  opacity: 0.6;
}

.site-nav a:active {
  opacity: 0.3;
}

.site-nav-item:nth-child(2) {
  margin-right: 34px;
  margin-left: auto;
}

.site-nav-item:last-child {
  margin-right: -3.6px;
  margin-left: 108px;
}

.site-nav-item > a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.catalog-nav-wrap {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 30;

  display: flex;
  padding-top: 18px;
  padding-right: 60px;
  padding-bottom: 34px;
  padding-left: 60px;

  background-color: #f7e296;
  visibility: hidden;
  opacity: 0;
}

.catalog-nav-item:hover .catalog-nav-wrap {
  visibility: visible;
  opacity: 1;
}

/* Псевдокласс для перехода между ссылками в выпадающем меню с помощью Tab (не работает в IE11 и Edge).
   Если это правило объединить с предыдущим, то выподающее меню перестанет работать в IE и Edge. */
.catalog-nav-item:focus-within .catalog-nav-wrap {
  visibility: visible;
  opacity: 1;
}

.catalog-nav-link {
  margin-left: -1px;
  padding-right: 32px;

  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: right 3px center;
}

.catalog-nav-list {
  width: 200px;
  margin: 0;
  padding: 0;
}

.catalog-nav-list:first-child {
  margin-right: 40px;
}

.catalog-nav-list a {
  line-height: 36px;
}

/* Main styles */

.popular {
  min-height: 495px;
  margin-bottom: 99px;
}

.popular-slider {
  position: relative;

  min-height: 495px;
}

.popular-controls {
  position: absolute;
  right: 62px;
  bottom: 154px;
  z-index: 20;

  display: flex;

  font-size: 0;
}

.popular-controls label {
  position: relative;

  width: 12px;
  height: 12px;
  margin-right: 21px;

  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.popular-controls label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  display: none;
  width: 5px;
  height: 5px;

  border: 1px solid #000000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.popular-list {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;

  background-image: linear-gradient(to bottom, #f7e296 113px, transparent 113px);
}

.popular-list::before {
  content: "";
  position: absolute;
  top: 39px;
  left: 600px;
  z-index: 20;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.popular-item {
  display: none;
}

.popular-item::before {
  position: absolute;
  top: -12px;
  right: 46px;
  z-index: 1;

  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  font-family: "Gilroy", "Verdana", sans-serif;
  color: #ffffff;
  letter-spacing: 1.79px;
}

.popular-item-1::before {
  content: "01";
}

.popular-item-2::before {
  content: "02";
}

.popular-item-3::before {
  content: "03";
}

#popular-1:checked ~ .popular-list #popular-slide-1,
#popular-2:checked ~ .popular-list #popular-slide-2,
#popular-3:checked ~ .popular-list #popular-slide-3 {
  display: flex;
}

#popular-1:checked ~ .popular-controls label[for="popular-1"]::after,
#popular-2:checked ~ .popular-controls label[for="popular-2"]::after,
#popular-3:checked ~ .popular-controls label[for="popular-3"]::after {
  display: block;
}

.popular-image {
  position: relative;

  flex-shrink: 0;
  width: 560px;
  margin: 0;
  margin-right: 40px;

  text-align: center;
}

.popular-item:nth-child(1) .popular-image {
  top: 2px;
  left: 2px;
}

.popular-item:nth-child(2) .popular-image {
  top: 14px;
  left: 8px;
}

.popular-item:nth-child(3) .popular-image {
  top: 67px;
  left: 14px;
}

.popular-info {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
}

.popular-title {
  margin-top: 81px;
  margin-bottom: 19px;

  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", "Verdana", sans-serif;
  color: #000000;
  letter-spacing: 0.47px;
}

.popular-description {
  margin: 0;
  margin-bottom: 43px;
}

.popular-definition {
  display: flex;
  justify-content: space-between;
  order: 2;
  margin: 0;
  margin-top: 50px;
  padding: 0;

  list-style: none;
}

.popular-item:nth-child(1) .popular-definition {
  width: 429px;
}

.popular-item:nth-child(3) .popular-definition {
  width: 274px;
}

.popular-definition li {
  display: flex;
  flex-direction: column;
}

.popular-definition h3 {
  order: 2;
  margin: 0;

  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.popular-definition p {
  margin: 0;
  margin-bottom: 7px;

  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Verdana", sans-serif;
  color: #000000;
  letter-spacing: 0.36px;
}

.popular-info .btn {
  align-self: flex-start;
  width: 220px;
}

.category {
  margin-bottom: 80px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: -20px;
  margin-bottom: -60px;
  margin-left: -20px;
  padding: 0;

  list-style: none;
}

.category-item {
  width: 160px;
  margin-right: 20px;
  margin-bottom: 60px;
  margin-left: 20px;
}

.category-item a {
  position: relative;
}

.category-item a::before {
  content: "";

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: #f0c52e;
  opacity: 0.5;
}

.category-item a:hover::before,
.category-item a:focus::before {
  opacity: 1;
}

.category-item a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 160px;
  height: 160px;

  background-repeat: no-repeat;
  background-position: center;
}

.category-item a[href^="vr"]::after {
  background-image: url("../img/category-vr.svg");
  background-position: 31px 52px;
}

.category-item a[href^="catalog"]::after {
  background-image: url("../img/category-monopods.svg");
  background-position: 38px 41px;
}

.category-item a[href^="cameras"]::after {
  background-image: url("../img/category-cameras.svg");
  background-position: 49px 38px;
}

.category-item a[href^="bracelets"]::after {
  background-image: url("../img/category-bracelets.svg");
  background-position: 28px 50px;
}

.category-item a[href^="watch"]::after {
  background-image: url("../img/category-watch.svg");
  background-position: 55px 32px;
}

.category-item a[href^="quadcopters"]::after {
  background-image: url("../img/category-quadcopters.svg");
  background-position: 13px 49px;
}

.category-item a:active::after {
  opacity: 0.3;
}

.category-item h3 {
  margin: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  color: #000000;
  letter-spacing: 0.18px;
}

.category-item a:active h3 {
  color: rgba(0, 0, 0, 0.3);
}

.services {
  margin-bottom: 94px;
  padding-bottom: 69px;

  background-image: linear-gradient(to bottom, transparent 101px, #e5e5e5 101px);
}

.services .container {
  display: flex;
}

.services-controls {
  position: relative;
  z-index: 1;

  flex-shrink: 0;
  width: 284px;
  margin-right: 116px;
  padding-top: 81px;
  padding-bottom: 71px;

  border-right: 7px solid #000000;
}

.service-btn {
  width: 160px;
}

.service-btn:not(:last-child) {
  margin-bottom: 24px;
}

.services-list {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  padding-top: 74px;

  list-style: none;

  background-repeat: no-repeat;
}

#delivery:checked ~ .services-list {
  background-image: url(../img/delivery.svg);
  background-position: top 86px right 66px;
}

#guarantee:checked ~ .services-list {
  background-image: url(../img/guarantee.svg);
  background-position: top 62px right 46px;
}

#credit:checked ~ .services-list {
  background-image: url(../img/credit.svg);
  background-position: top 62px right 70px;
}

.service-item {
  display: none;
}

#delivery:checked ~ .services-list #delivery-slide,
#guarantee:checked ~ .services-list #guarantee-slide,
#credit:checked ~ .services-list #credit-slide {
  display: block;
}

#delivery:checked ~ .services-controls label[for="delivery"],
#guarantee:checked ~ .services-controls label[for="guarantee"],
#credit:checked ~ .services-controls label[for="credit"] {
  color: #f7e184;
}

#delivery:checked ~ .services-controls label[for="delivery"]::before,
#guarantee:checked ~ .services-controls label[for="guarantee"]::before,
#credit:checked ~ .services-controls label[for="credit"]::before {
  top: 4px;
  right: -117px;

  height: 100%;

  background-color: #000000;
}

.service-item h3 {
  margin: 0;
  margin-bottom: 31px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Verdana", sans-serif;
  color: #000000;
  letter-spacing: 1.1px;
}

.service-item p {
  width: 455px;
  margin: 0;

  letter-spacing: 0.25px;
}

.company {
  margin-bottom: 93px;
}

.company-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: -20px;
  margin-bottom: -40px;
  margin-left: -20px;
  padding: 0;

  list-style: none;
}

.company-item {
  margin-right: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.company-item a {
  display: block;
  width: 260px;

  background-repeat: no-repeat;
  background-position: center;
}

.company-item a[href^="dgi"] {
  background-image: url("../img/logo-bg-dgi.jpg");
}

.company-item a[href^="sp-gadjets"] {
  background-image: url("../img/logo-bg-sp-gadjets.jpg");
}

.company-item a[href^="gopro"] {
  background-image: url("../img/logo-bg-gopro.jpg");
}

.company-item a[href^="vive"] {
  background-image: url("../img/logo-bg-vive.jpg");
}

.company-item img {
  display: block;

  opacity: 0;

  transition: 0.3s ease;
}

.company-item a:hover img {
  opacity: 1;
}

.about-and-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 82px;
}

.about {
  width: 475px;
}

.contacts {
  width: 560px;
}

.about h2,
.contacts h2 {
  position: relative;
  left: -2px;

  margin: 0;
  margin-bottom: 43px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Verdana", sans-serif;
  color: #000000;
  letter-spacing: 0.47px;
}

.about h2::before,
.contacts h2::before {
  content: "";
  position: relative;
  left: 2px;

  display: block;
  width: 80px;
  height: 7px;
  margin-bottom: 45px;

  background-color: #000000;
}

.about p,
.contacts p {
  margin: 0;

  letter-spacing: 0;
}

.about p {
  margin-bottom: 30px;
}

.about-list {
  margin: 0;
  margin-top: 66px;
  margin-bottom: 54px;
  padding: 0;

  list-style: none;
}

.about-list li {
  position: relative;

  padding-left: 35px;

  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Verdana", sans-serif;
  color: #000000;
  letter-spacing: 0;
}

.about-list li:before {
  content: "";
  position: absolute;
  top: 16px;
  left: 1px;

  display: block;
  width: 8px;
  height: 8px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

p.contacts-text {
  margin-bottom: 39px;
}

p.contacts-map {
  margin-bottom: 60px;
}

.page-title {
  margin: 0;
  margin-bottom: 25px;
  margin-left: 59px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Verdana", sans-serif;
  color: #000000;
  letter-spacing: 0.67px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 45px;
  margin-left: 60px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.14px;
}

.breadcrumbs li:not(:last-child) {
  padding-right: 37px;

  background-image: url("../img/icon-breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 17px top 8px;
}

.breadcrumbs a {
  color: inherit;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-header {
  background-image: linear-gradient(to right, #d9d9d9 29%, #ebebeb 29%);
}

.catalog-header .container {
  display: flex;
}

.filter-title-ghost {
  flex-shrink: 0;
  width: 328px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 60px;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.7px;

  background-color: #d9d9d9;
}

.sorting {
  display: flex;
  flex-grow: 1;
  padding-top: 23px;
  padding-bottom: 22px;
  padding-left: 72px;
}

.sorting h2 {
  margin: 0;
  margin-right: 49px;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  margin-top: -5px;
  padding: 0;

  list-style: none;
}

.sorting-list li {
  margin-right: 29px;
}

.sorting-list a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.3px;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-list a:active,
.sorting-list a.active {
  color: #000000;
}

.sorting-arrows {
  display: flex;
  margin: 0;
  margin-right: -6px;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.sorting-arrows a {
  position: relative;

  display: block;
  width: 23px;
  height: 23px;

  opacity: 0.2;
}

.sorting-arrows a:hover,
.sorting-arrows a:focus {
  opacity: 0.4;
}

.sorting-arrows a:active,
.sorting-arrows a.active {
  opacity: 1;
}

.sorting-arrows a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.sorting-arrows .arrow-asc {
  margin-right: 8px;
}

.sorting-arrows .arrow-asc::before {
  border-top: none;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #000000;
  border-left: 5px solid transparent;
}

.sorting-arrows .arrow-desc::before {
  border-top: 10px solid #000000;
  border-right: 5px solid transparent;
  border-bottom: none;
  border-left: 5px solid transparent;
}

.catalog-main {
  background-image: linear-gradient(to right, #ebebeb 29%, transparent 29%);
}

.catalog-main .container {
  display: flex;
}

.filter {
  flex-shrink: 0;
  width: 328px;
  padding-top: 69px;
  padding-right: 68px;
  padding-left: 59px;

  background-color: #ebebeb;
}

.field-group {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;

  border: none;
}

.filter legend {
  width: 100%;
  margin-bottom: 18px;
  padding-top: 10px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  color: #000000;
  letter-spacing: 0.18px;

  border-top: 2px solid #000000;
}

.price-group {
  margin-bottom: 34px;
}

.price-group legend {
  margin-bottom: 35px;
}

.range-controls {
  position: relative;
  margin-bottom: 9px;
}

.range-controls .scale {
  height: 2px;

  background-color: #dbdbdb;
}

.range-controls .bar {
  width: 54%;
  height: 2px;

  background-color: #91c92f;
}

.range-toggle {
  position: absolute;
  top: -10px;

  width: 20px;
  height: 20px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px #dadada;
  cursor: pointer;

  transition: 0.3s ease;
}

.range-toggle:hover {
  background-color: #797979;
}

.range-toggle:active {
  transform: scale(1.2);
}

.range-toggle-min {
  left: -5px;
}

.range-toggle-max {
  left: 54%;
}

.price-controls {
  display: flex;
}

.price-controls label {
  width: 50%;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  color: rgba(0, 0, 0, 0.2);

  cursor: pointer;
}

.price-controls input {
  width: 70%;

  color: inherit;

  background-color: transparent;
  border: none;
}

.filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-label {
  position: relative;

  display: block;
  padding-left: 38px;

  font-size: 14px;
  line-height: 40px;
  color: #000000;
  letter-spacing: 0.14px;
  cursor: pointer;
}

.filter-label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.filter-label:hover::before {
  opacity: 0.6;
}

.filter-checkbox + .filter-label::before,
.filter-checkbox:checked + .filter-label:active::before {
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

.filter-checkbox:checked + .filter-label::before,
.filter-checkbox:not(:checked) + .filter-label:active::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-radio + .filter-label::before,
.filter-radio:checked + .filter-label:active::before {
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
}

.filter-radio:checked + .filter-label::before,
.filter-radio:not(:checked) + .filter-label:active::before {
  background-image: url("../img/radio-on.svg");
}

.filter-input:disabled + .filter-label {
  opacity: 0.25;
}

.filter .btn {
  width: 200px;
}

.catalog {
  width: 100%;
  margin-top: 69px;
  margin-left: 72px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: -20px;
  margin-left: -20px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  width: 360px;
  margin-right: 20px;
  margin-bottom: 45px;
  margin-left: 20px;
}

.catalog-item:nth-last-child(-n+2) {
  margin-bottom: 40px;
}

.product-image-wrapper {
  position: relative;

  cursor: pointer;
}

.product-image {
  margin: 0;
  margin-bottom: 32px;
}

.product-image img {
  display: block;
}

.product-buttons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(238, 238, 238, 0.7);
  opacity: 0;

  transition: 0.3s ease;
}

.product-buttons:hover {
  opacity: 1;
}

.btn-product {
  width: 200px;
  margin-top: 172px;
  margin-bottom: 6px;
}

.btn-compare {
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.13px;
}

.btn-compare:hover,
.btn-compare:focus {
  color: #000000;
}

.btn-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.product-price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-title {
  width: 260px;

  color: #000000;
}

.product-title:hover,
.product-title:focus {
  color: rgba(0, 0, 0, 0.6);
}

.product-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-title h3 {
  margin: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  letter-spacing: 0.18px;
}

.product-price {
  flex-shrink: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  letter-spacing: 0.16px;
}

.product-new .product-image-wrapper::before {
  content: "";
  position: absolute;
  top: 29px;
  right: 26px;

  width: 61px;
  height: 61px;

  background-image: url(../img/label-new.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin: 0;
  margin-top: -4px;
  margin-bottom: 77px;
  padding: 0;

  list-style: none;

  background-color: #ebebeb;
}

.pagination a {
  display: block;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.pagination-word {
  width: 129px;
  padding-top: 24px;
  padding-bottom: 22px;

  color: #000000;
}

.pagination-word[href] {
  cursor: pointer;
}

.pagination-word[href]:hover,
.pagination-word[href]:focus {
  background-color: #d9d9d9;
}

.pagination-word[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-numbers ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 450px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-number {
  padding: 14px;
  
  color: rgba(0, 0, 0, 0.3);
}

.pagination-number[href] {
  cursor: pointer;
}

.pagination-number:hover,
.pagination-number:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-number:active,
.pagination-number.active {
  color: #000000;
}

/* Footer styles */

.main-footer {
  padding-top: 66px;
  padding-bottom: 65px;

  color: #ffffff;

  background-color: #464646;
}

.footer-row {
  display: flex;
}

.footer-row:first-child {
  margin-bottom: 29px;
}

.main-footer-logo {
  width: 163px;
  height: 35px;
  margin-right: auto;
}

.main-footer-logo[href]:hover,
.main-footer-logo[href]:focus {
  opacity: 0.6;
}

.main-footer-logo[href]:active {
  opacity: 0.3;
}

.main-footer ul {
  list-style: none;
}

.footer-user-nav {
  margin: 0;
  margin-right: 44px;
  padding: 0;
}

.footer-shop-nav {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-user-nav,
.footer-shop-nav {
  margin-top: -3px;
}

.footer-user-nav a,
.footer-shop-nav a {
  position: relative;

  color: rgba(255, 255, 255, 0.7);
}

.footer-user-nav a:hover,
.footer-user-nav a:focus,
.footer-shop-nav a:hover,
.footer-shop-nav a:focus {
  color: #ffffff;
}

.footer-user-nav a:active,
.footer-shop-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-nav {
  display: flex;
}

.footer-user-link {
  padding-left: 26px;
}

a.footer-user-logout {
  margin-left: 19px;
  
  color: rgba(255, 255, 255, 0.3);
}

.footer-compare-link {
  margin-right: 41px;
  padding-left: 19px;
}

.footer-cart-link {
  padding-left: 22px;
}

.footer-user-nav a::before,
.footer-shop-nav a::before {
  content: "";
  position: absolute;
  left: 0;

  background-repeat: no-repeat;
  background-position: left center;
}

.footer-user-link::before {
  top: 4px;

  width: 13px;
  height: 12px;

  background-image: url(../img/icon-user-footer.svg);
}

.footer-compare-link::before {
  top: 6px;

  width: 10px;
  height: 10px;

  background-image: url(../img/icon-compare-footer.svg);
}

.footer-cart-link::before {
  top: 4px;

  width: 12px;
  height: 12px;

  background-image: url(../img/icon-cart-footer.svg);
}

.footer-user-nav a:hover::before,
.footer-user-nav a:focus::before,
.footer-shop-nav a:hover::before,
.footer-shop-nav a:focus::before {
  opacity: 0.6;
}

.footer-user-nav a:active::before,
.footer-shop-nav a:active::before {
  opacity: 0.3;
}

.footer-address,
.footer-phone {
  width: 260px;
  margin: 0;

  letter-spacing: 0;
}

.footer-address {
  margin-right: 107px;
}

.footer-phone {
  margin-left: auto;

  text-align: right;
}

.footer-phone a {
  color: inherit;
}

.footer-site-nav {
  display: flex;
  margin: 0;
  margin-top: 3px;
  padding: 0;
}

.footer-site-nav li:not(:last-child) {
  margin-right: 33px;
}

.footer-site-nav a {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-site-nav a:hover,
.footer-site-nav a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-row:last-child {
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.footer-row:last-child::before {
  content: "";

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
  margin: 0;
  margin-right: -11px;
  margin-bottom: -15px;
  margin-left: -11px;
  padding: 0;
}

.social-list a {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 11px;
  margin-bottom: 15px;
  margin-left: 11px;

  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.social-list a[href*="facebook"] {
  background-image: url(../img/icon-facebook.svg);
}

.social-list a[href*="instagram"] {
  background-image: url(../img/icon-instagram.svg);
}

.social-list a[href*="twitter"] {
  background-image: url(../img/icon-twitter.svg);
}

.html-academy-logo {
  width: 80px;
  margin: 0;
}

.html-academy-logo a {
  display: block;
  width: 27px;
  height: 34px;
  margin-left: auto;

  background-image: url("../img/logo-html-academy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 27px 34px;
}

.social-list a:hover,
.social-list a:focus,
.html-academy-logo a:hover,
.html-academy-logo a:focus {
  opacity: 0.6;
}

.social-list a:active {
  opacity: 0.1;
}

.html-academy-logo a:active {
  opacity: 0.3;
}

.form-group label {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Verdana", sans-serif;
  color: #000000;
}

.form-group input,
.form-group textarea {
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
  outline: none;
}

.form-group input:hover,
.form-group textarea:hover {
  background-color: #eaeaea;
  border: 3px solid #eaeaea;
}

.form-group input:focus,
.form-group textarea:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
}

.form-group input:invalid {
  background-color: #f6dada;
  border: 3px solid #f6dada;
}

.modal-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}
